{% extends 'base.html' %}

{% block title %}My Portfolio{% endblock title %}


{% block content %}
<div class="home">
    <h1>Welcome to my portfolio page</h1>

    <img src="https://www.google.com/imgres?q=portfolio%20images&imgurl=https%3A%2F%2Fmiro.medium.com%2Fv2%2Fresize%3Afit%3A730%2F0*SEdGTbPR8hfkTWR2.jpg&imgrefurl=https%3A%2F%2Fmedium.com%2F%40pndrgrewal12%2Fhow-to-create-and-deploy-your-portfolio-in-under-10-minutes-ed606ec975ae&docid=GNlh-_MBLZumuM&tbnid=jLIZTJJ1YkxkxM&vet=12ahUKEwjpuPm1q96GAxXfLdAFHRGsAI8QM3oECGwQAA..i&w=730&h=360&hcb=2&ved=2ahUKEwjpuPm1q96GAxXfLdAFHRGsAI8QM3oECGwQAA"
        alt="">
</div>

{% endblock content %}