{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}
{% load static %}

<section class="projects-section center-column">


    <!-- Your 'Add Project' button here -->
    {% if user.is_authenticated %}
    <a class="btn-primary" href="">
        Add Project
    </a>
    {% endif %}


<h2>Projects</h2>

<div class="projects-list">
    <!-- All the cards here -->
    {% for project in projects %}
    <div class="project-card">
        <a href="{{ project.repository }}" target="blank">
            <img src="{{ project.image.url }}" alt="">
            <p>{{ project.name }}</p>
            <p>{{ project.description }}</p>
            <p>{{ project.year }}</p>

            <div class="skills-list center-row">
                {% for skill in project.skill.all %}
                <label class="label-text">{{ skill.name }}</label>
                {% endfor %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</section>

{% endblock content %}